@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Darker+Grotesque:wght@400;700;800;900&display=swap');

.hover-invert:hover {
    background-color: #BE0000;
    color: #090909;
    cursor: crosshair;

}

.menu-content {
    padding-left: 1.8rem;
    color: #BE0000;
    font-family: DM Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
}

.menu-content:hover {
    color: #090909;
    background-color: #BE0000;

}

.handbook-height {
    height: 20rem;
}

.handbook-heading {
    font-family: 'DM Sans', sans-serif;
    color: #BE0000;
    font-size: 1.8rem;
    text-align: center;
}

.handbook-content {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
}

.handbook-author {
    font-family: 'DM Sans', sans-serif;
    font-size: 0.8rem;
    color: #b6b6b6;
}

.handbook-duration {
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    color: #BE0000;
}

.overflow-hidden {
    overflow: hidden;
}

.border-color {
    border-color: #BE0000;
}

.section-top {
    padding-top: 5rem;
    padding-bottom: 8rem;
}